In [3]:
import pandas as pd
#importing the csv file
df = pd.read_csv(r'C:\Users\gorja\Downloads\nyc_weather.csv')
#displaying the csv file
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [6]:
#displaying the maximum temperature
df['Temperature'].max()

50

In [7]:
#displaying the maximum humidity
df['Humidity'].max()

78

In [8]:
#displaying the maximum winddirdegree
df['WindDirDegrees'].max()

345

In [9]:
#displaying the maximum dew point
df['DewPoint'].max()

46

In [10]:
df.shape

(31, 11)

In [11]:
rows, columns = df.shape
columns

11

In [12]:
rows

31

In [13]:
#printing the fisrt five rows of data
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [14]:
#printing the first 20 rows of data
df.head(20)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302

In [15]:
#displaying the last 5 rows
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [16]:
#displaying the last 15 rows
df.tail(15)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [17]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [18]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [19]:
df[['Temperature', 'DewPoint', 'Humidity']]

    Temperature  DewPoint  Humidity
0            38        23        52
1            36        18        46
2            40        21        47
3            25         9        44
4            20        -3        41
5            33         4        35
6            39        11        33
7            39        29        64
8            44        38        77
9            50        46        71
10           33         8        37
11           35        15        53
12           26         4        42
13           30        12        47
14           43        31        62
15           47        37        70
16           36        23        66
17           25         6        53
18           22         3        42
19           32        15        49
20           31        11        45
21           26         6        41
22           26        21        78
23           28        11        53
24           34        18        54
25           43        29        56
26           41        22        45
27           37        20        51
28           36        21        50
29           34        16        46
30           46        28        52

In [23]:
#determining the maximum temperature
df['Temperature'].max()

50

In [24]:
#determining the minimum temeperature
df['Temperature'].min()

20

In [25]:
#statistical summary
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [26]:
#saving the cleaned data to a new csv file
df.to_csv('new_data')

In [29]:
#to know data types in each column
print(df.dtypes)

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [31]:
#make EST column a date column
df = pd.read_csv(r'C:\Users\gorja\Downloads\nyc_weather.csv', parse_dates=["EST"])
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [32]:
#confirm the data type of EST
print(df.dtypes)

EST                     datetime64[ns]
Temperature                      int64
DewPoint                         int64
Humidity                         int64
Sea Level PressureIn           float64
VisibilityMiles                  int64
WindSpeedMPH                   float64
PrecipitationIn                 object
CloudCover                       int64
Events                          object
WindDirDegrees                   int64
dtype: object

In [33]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,NaN,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,NaN,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,NaN,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,NaN,0,1,NaN,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,NaN,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,NaN,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,NaN,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,NaN,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,NaN,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,NaN,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,NaN,312
21,2016-01-22,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,NaN,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,NaN,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241

In [34]:
#replacing NaN values with 0
df = df.fillna(0)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,0,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,0,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,0,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,0,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,0,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,0,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,0,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,0,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,0.0,0,1,0,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,0,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,0,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,0,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,0,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,0,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,0,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,0,312
21,2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,0,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,0,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,0,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,0,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,0,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,0,241

In [38]:
#replacing the 0 in Events with 'no event'
df['Events'] = df['Events'].replace(0, 'no events')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,no events,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,no events,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,no events,277
3,2016-01-04,25,9,44,30.05,10,9.0,0,3,no events,345
4,2016-01-05,20,-3,41,30.57,10,5.0,0,0,no events,333
5,2016-01-06,33,4,35,30.50,10,4.0,0,0,no events,259
6,2016-01-07,39,11,33,30.28,10,2.0,0,3,no events,293
7,2016-01-08,39,29,64,30.20,10,4.0,0,8,no events,79
8,2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
9,2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,2016-01-11,33,8,37,29.92,10,0.0,0,1,no events,289
11,2016-01-12,35,15,53,29.85,10,6.0,T,4,no events,235
12,2016-01-13,26,4,42,29.94,10,10.0,0,0,no events,284
13,2016-01-14,30,12,47,29.95,10,5.0,T,7,no events,266
14,2016-01-15,43,31,62,29.82,9,5.0,T,2,no events,101
15,2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
18,2016-01-19,22,3,42,30.03,10,11.0,0,1,no events,293
19,2016-01-20,32,15,49,30.13,10,6.0,0,2,no events,302
20,2016-01-21,31,11,45,30.15,10,6.0,0,1,no events,312
21,2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
24,2016-01-25,34,18,54,30.25,10,3.0,0,2,no events,286
25,2016-01-26,43,29,56,30.03,10,7.0,0,2,no events,244
26,2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
27,2016-01-28,37,20,51,29.90,10,5.0,0,1,no events,234
28,2016-01-29,36,21,50,29.58,10,8.0,0,4,no events,298
29,2016-01-30,34,16,46,30.01,10,7.0,0,0,no events,257
30,2016-01-31,46,28,52,29.90,10,5.0,0,0,no events,241